.print-only {
  display: block;
  font-family: "Arial", sans-serif;
  padding: 20px;
  background: #fff;
  color: #000;
  width: 97%;
  @media print {
    display: block;
  }

  .single-bill-container {
    padding: 10px;
    width: 100%;
    margin-top: -5px;

    .bill-container {
      width: 95%;
      position: relative;
      height: 94%;

      .bill-title {
        width: 100%;
        height: 20px;
        font-size: 14px;
        font-weight: 600;
        position: relative;

        .bill-title-left {
          position: absolute;
          left: 0;
          top: 0;
        }

        .bill-title-center {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
        }

        .bill-title-right {
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .bill-content {
        border: 2px solid #000;
        border-radius: 10px;
        width: 100%;
        height: 100%;

        .bill-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .contact-details {
            text-align: center;
            font-weight: bold;
            padding: 5px;
          }
        }
      }

      .company-details {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #000;

        .company-name {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 50px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

          img {
            width: 10%;
          }
        }

        .company-address {
          font-weight: 600;
        }
      }

      .merchant-details {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        font-size: small;

        .merchant-details-left {
          width: 62%;
          border-right: 1px solid #000;
          padding: 1px;

          .merchant-details-left-row {
            display: flex;
            justify-content: space-between;

            .merchant-details-left-title-col {
              width: 18%;
              display: flex;
              justify-content: space-between;
              margin-left: 5px;
              font-weight: bold;
            }
            .merchant-details-left-value-col {
              width: 82%;
              margin-left: 5px;
            }
          }
        }

        .merchant-details-right {
          width: 38%;

          .merchant-details-right-top {
            border-bottom: 1px solid #000;
            padding: 1px;
          }
          .merchant-details-right-bottom {
            padding: 1px;
          }

          .merchant-details-right-row {
            display: flex;
            justify-content: space-between;

            .merchant-details-right-title-col {
              width: 30%;
              display: flex;
              justify-content: space-between;
              margin-left: 5px;
              font-weight: bold;
            }
            .merchant-details-right-value-col {
              margin-left: 5px;
              width: 70%;
            }
          }
        }
      }

      .item-details {
        font-size: small;
        .item-details-title {
          border-bottom: 1px solid #000;
          font-weight: bold;
        }

        .item-details-row {
          display: flex;

          .item-sr-col {
            width: 10%;
            padding: 1px;
            text-align: center;
            border-right: 1px solid #000;
          }

          .item-description-col {
            width: 40%;
            padding: 1px;
            text-align: center;
            border-right: 1px solid #000;
          }

          .item-hsn-col {
            width: 12%;
            padding: 1px;
            text-align: center;
            border-right: 1px solid #000;
          }

          .item-qty-col {
            width: 12%;
            padding: 1px;
            text-align: center;
            border-right: 1px solid #000;
          }

          .item-rate-col {
            width: 11%;
            padding: 1px;
            text-align: right;
            border-right: 1px solid #000;
          }

          .item-amount-col {
            width: 15%;
            padding: 1px;
            text-align: right;
          }
        }

        .item-details-body {
          border-bottom: 1px solid #000;
        }
      }

      .footer-details {
        display: flex;
        border-bottom: 1px solid #000;

        .footer-details-left {
          font-size: small;
          width: 60%;
          border-right: 1px solid #000;

          .footer-left-row {
            .footer-gst-number {
              font-weight: bold;

              .gst-content {
                margin-left: 5px;
              }
            }
            .footer-udyam-number {
              font-weight: bold;

              .udyam-content {
                margin-left: 5px;
              }
            }
            .footer-pan-number {
              font-weight: bold;
              border-bottom: 1px solid #000;

              .pan-content {
                margin-left: 5px;
              }
            }

            .footer-bank-details {
              width: 100%;
              display: flex;
              flex-direction: column;

              .footer-bank-details-row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-left: 5px;

                .footer-bank-details-title-col {
                  width: 32%;
                  display: flex;
                  justify-content: space-between;
                  font-weight: bold;
                }

                .footer-bank-details-value-col {
                  width: 68%;
                  margin-left: 5px;
                }
              }
            }
          }
        }

        .footer-details-right {
          width: 40%;
          font-size: small;

          .footer-right-row {
            display: flex;
            width: 100%;

            .footer-right-title-col {
              display: flex;
              width: 70%;
              padding: 1px;
              justify-content: center;
            }

            .footer-right-value-col {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30%;
            }
          }

          .tax-table {
            width: 100%;
            text-align: center;
            font-size: small;

            .tax-row {
              .tax-title-col {
                width: 40%;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                font-weight: bold;
              }

              .tax-rate-col {
                width: 20%;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
              }

              .tax-value-col {
                width: 40%;
                text-align: right;
                border-bottom: 1px solid #000;
              }

              .final-amount-title-col {
                border-right: 1px solid #000;
                font-weight: bold;
              }

              .final-amount-value-col {
                text-align: right;
                font-weight: bold;
              }
            }
          }
        }
      }

      .inword-section {
        font-size: small;
        font-weight: bold;
        border-bottom: 1px solid #000;

        .inword-content {
          margin-left: 5px;
        }
      }

      .tac-section {
        border-bottom: 1px solid #000;
        font-size: small;
        margin-bottom: 100px;

        .title {
          font-weight: bold;
          padding: 1px;
          margin-left: 5px;
        }

        .content {
          margin-left: 5px;
        }
      }

      .signature-section {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: small;

        .signature-section-row {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .signature-section-col {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1px;

            .signature-section-title {
              margin: 10px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
