.sidebar-footer {
  flex: 0 0 auto;

  display: flex;
  align-items: center;

  min-height: 56px;
  padding: 0 16px;

  border-top: 1px solid #eaecf0;
}

.sidebar-footer__text {
  color: #667085;

  font-size: 12px;
  font-weight: 500;
}

.sidebar-footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.sidebar-footer__version {
  color: #98a2b3;
  font-size: 11px;
  font-weight: 500;
}
