.multi-circle-container {
  display: flex;
  justify-content: center; /* or space-between / space-evenly */
  align-items: flex-start;
  gap: 10px; /* spacing between circles */
  flex-wrap: nowrap; /* prevent wrapping */
}

.circle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35px;
  margin: 4px;
}

.svg-container {
  position: relative;
  width: 35px;
  height: 35px;
  transform: rotate(-90deg);
}

.circle-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  font-size: 7px;
  font-weight: bold;
}

.unit {
  font-size: 10px;
  color: #aaa;
  margin-top: 2px;
}
